#PROJECT {
    position: relative;
    background-color: white;
    color: #333;
    padding-top: 50px;
    scroll-snap-type: y mandatory;
    scroll-padding: 50px;
    height: 100vh;
    overflow: auto;
}

#PROJECT::-webkit-scrollbar {
    display: none;
}

.project {
    height: calc(100vh - 50px);
    scroll-snap-align: start;
}

.project:nth-child(1) {
    background-color: #338e6c;
}

.project:nth-child(2) {
    background-color: #995566;
}

.project:nth-child(3) {
    background-color: #0074D9;
}

.project:nth-child(4) {
    background-color: #f9cd0b;
}