/*north响应式布局*/
@media screen and (min-width: 840px) and (max-width: 1219px)
{
    .demo-north-picture {
        margin: 0 auto;
    }

    .ANNOUNCEMENT {
        margin: 0 auto;
        /*公告变短后高度*/
        height: 274px;
        padding: 0 100px;
        max-width: 900px;
        width: 100%;
    }

    .announcement-data-border, .announcement-connect-picture {
        align-self: flex-end;
    }
}

@media screen and (min-width: 610px) and (max-width: 840px)
{
    .demo-north-picture {
        margin: 0 auto;
    }

    .ANNOUNCEMENT {
        margin: 0 auto;
        /* 640 = 预留距离100 + 公告宽度270*2*/
        padding: 0 calc((100% - 640px)/2);
        height: 274px;
        max-width: 900px;
        width: 100%;
    }

    .announcement-data-border, .announcement-connect-picture {
        align-self: flex-end;
    }
}

@media screen and (max-width: 610px)
{
    .demo-north-picture {
        margin: 0 auto;
    }

    .ANNOUNCEMENT {
        margin: 0 auto;
    }

}