#HOME {
    position: relative;
    background-color: #4b626d;
    color: white;
    padding-top: 50px;
    height: 5000px;
}

.home-test {
    background-color: #995566;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}

.home-test-fixed {
    position: fixed;
    top: 0;
}

.home-test-relative {
    position: relative;
}