#HOME_PROJ_INTRO {
    max-width:1280px;
    margin:0 auto;
}

.intro-video {
    /*display:flex;*/
    /*flex-direction:column;*/
    /*flex-wrap: nowrap;*/
    /*justify-content:space-around ;*/
    /*align-items: center;*/
}

.home-proj-intro-card {
    width: 500px;
}

.home-proj-intro-button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-right: 60px;
    font-size: 22px;
}

.home-proj-intro-content {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 40px;
}